@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
body{
    overflow-y: hidden;
    background-color: rgba(242,242,242,1);
    font-family: 'Rubik', sans-serif;
}
.container{
    width: 450px;
    text-align: center;
}
h3,h4,h6{
    margin-top: 10px;
    font-weight: bold;
    color: #09095B;
    margin-bottom: 0.5em;
}
p{
  font-weight: bold;
  margin-top: 5px;
  font-size: small;
}
input{
  border-color: #09095B !important;
  color: black !important;
}
.worldsvg{
  text-align: center;
}
